
<table>
    <tr>
        <td ><a routerLink = "/home"> <span class="glyphicon glyphicon-home"></span> Home</a></td> <td></td>
        <td><a routerLink = "/addStudent"> <span class="glyphicon glyphicon-home"></span> Add Student</a></td><td></td>
        <td><a routerLink = "/addCourse"> <span class="glyphicon glyphicon-home"></span> Add Course</a></td><td></td>
        <td><a routerLink = "/addMarks"> <span class="glyphicon glyphicon-home"></span> Add Marks</a></td><td></td>
        <td><a routerLink = "/editStudent"> <span class="glyphicon glyphicon-home"></span> Edit Student </a></td><td></td>
        <td><a routerLink = "/editCourse"> <span class="glyphicon glyphicon-home"></span> Edit Course </a></td><td></td>
        <td><a routerLink = "/editMarks"> <span class="glyphicon glyphicon-home"></span> Edit Marks </a></td><td></td>
        <td><a routerLink = "/deleteStudent"> <span class="glyphicon glyphicon-home"></span> Delete Student </a></td><td></td>
        <td><a routerLink = "/deleteCourse"> <span class="glyphicon glyphicon-home"></span> Delete Course </a></td><td></td>
        <td><a routerLink = "/deleteMarks"> <span class="glyphicon glyphicon-home"></span> Delete Grade Entry </a></td><td></td>
        <td><a routerLink = "/calculateGpa"> <span class="glyphicon glyphicon-home"></span> Calculate Gpa </a></td><td></td>
        <td><a routerLink = "/calcRank"> <span class="glyphicon glyphicon-home"></span> Calculate Ranks </a></td><td></td>
        
        
    </tr>
</table>

<router-outlet></router-outlet>

